/* Стили для body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Стили для header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Стили для верхней панели навигации */
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Стили для кнопок в панели навигации */
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li:first-child {
    margin-right: auto;
}

header nav ul li a {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

/* Стили для main */
main {
    padding: 20px;
    flex: 1 0 auto;
}

/* Стили для заголовка списка жанров */
.page-heading {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    padding-bottom: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #333;
}

/* Стили для секции жанров */
.genres-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

/* Стили для карточки жанра */
.genre-card {
    width: 200px; /* Ширина карточки */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center; /* Центрирование текста */
}

/* Стили для заголовка жанра в карточке */
.genre-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Стили для footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    flex: 0 0 auto;
}


/* Стили для кнопок жанров */
.genre-button {
    background-color: #007BFF; /* Цвет кнопки */
    color: #fff; /* Цвет текста */
    border: none; /* Без границы */
    border-radius: 5px; /* Скругленные углы */
    padding: 10px 20px; /* Отступы */
    font-size: 16px; /* Размер текста */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s; /* Плавный переход при наведении */
}

/* Эффект наведения */
.genre-button:hover {
    background-color: #0056b3; /* Цвет кнопки при наведении */
}
