/* Стили для body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Стили для header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Стили для верхней панели навигации */
header nav {
    display: flex;
    justify-content: center; /* Центрируем кнопки навигации */
    align-items: center;
}

/* Стили для кнопок в панели навигации */
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li:first-child {
    margin-right: auto; /* Первую кнопку сдвигаем влево, остальные будут прижаты к правому краю */
}

header nav ul li a {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

/* Стили для main */
main {
    padding: 20px;
}

/* Стили для профильной карточки */
.profile-card {
    width: 300px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    width: 100px;
    height: 100px;
    background-color: #ccc; /* Цвет кружка профиля */
    border-radius: 50%; /* Превращаем прямоугольник в круг */
    margin: 0 auto 20px; /* Центрируем кружок и добавляем немного отступа снизу */
}

.profile-details {
    text-align: center;
}

/* Стили для footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
