{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'games/css/register.css' %}">
</head>
<body>
<header>
</header>

<main class="register-container">
    <h2>Регистрация</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зарегистрироваться</button>
    </form>
    <div class="links">
        <a href="{% url 'login' %}">Вход</a>
        <a href="/">На главную</a>
    </div>
</main>

<footer>
    <p>&copy; 2024 Веб-сайт отзывов об играх. Все права защищены.</p>
</footer>

<script src="{% static 'games/js/scripts.js' %}"></script>
</body>
</html>
