{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ game.title }}</title>
    <!-- Подключение стилей CSS -->
    <link rel="stylesheet" href="{% static 'games/css/game_detail.css'%}">
</head>
<body>

<header>
    <!-- Верхняя панель навигации -->
    <nav>
        <ul>
            <li><a href="/" class="home-btn">Главная</a></li>
            <li><a href="/rating/">Рейтинг</a></li>
            <li>
                <form action="/search/" method="get">
                    <input type="text" name="q" placeholder="Поиск...">
                    <input type="submit" value="Найти">
                </form>
            </li>
            <li><a href="/profile/">Профиль</a></li>
        </ul>
    </nav>
</header>

<main>
    <!-- Секция с подробной информацией об игре -->
    <section class="game-details">
        <h2 class="game-details-heading">Подробное описание игры {{ game.title }}</h2>
        <div class="game-card">
            <img class="game-card-image" src="{{ game.image.url }}" alt="{{ game.title }}">
            <h1>{{ game.title }}</h1>
            <p><strong>Разработчик:</strong> {{ game.developer }}</p>
            <p><strong>Дата выхода:</strong> {{ game.release_date }}</p>
            <p><strong>Описание:</strong> {{ game.description }}</p>
            <p><strong>Средний рейтинг:</strong> {{ game.avg_score }}</p>
            <p><strong>Жанры:</strong>
                {% for genre in game.genres.all %}
                    {{ genre.name }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>

                <!-- Форма для оставления отзыва -->
    <section class="review-form">
        <h2>Оставить отзыв</h2>
        <form method="post" action="{% url 'add_review' game.id %}">
            {% csrf_token %}
            <label for="rating">Оценка:</label><br>
            <input type="number" id="rating" name="rating" min="1" max="100"><br>
            <label for="text">Текст отзыва:</label><br>
            <textarea id="text" name="text"></textarea><br>
            <input type="submit" value="Оставить отзыв">
        </form>
    </section>

        <!-- Секция с отзывами об игре -->
    <section class="reviews-section">
        <h2 class="reviews-heading">Отзывы</h2>

        <!-- Карточки отзывов -->
        {% for review in reviews %}
            <div class="review-card">
                <p><strong>Пользователь:</strong> {{ review.user.username }}</p>
                <p><strong>Оценка:</strong> {{ review.rating }}</p>
                <p><strong>Отзыв:</strong> {{ review.text }}</p>
            </div>
        {% empty %}
            <p>Пока нет отзывов.</p>
        {% endfor %}
    </section>
    </section>
</main>

<footer>
    <p>&copy; 2024 Веб-сайт отзывов об играх. Все права защищены.</p>
</footer>

</body>
</html>
