{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ game.title }}</title>
    <!-- Подключение стилей CSS -->
    <link rel="stylesheet" href="{% static 'games/css/game_detail.css'%}">
</head>
<body>

<header>
    <!-- Верхняя панель навигации -->
    <nav>
        <ul>
            <li><a href="/" class="home-btn">Главная</a></li>
            <li><a href="/rating/">Рейтинг</a></li>
            <li>
                <form action="/search/" method="get">
                    <input type="text" name="q" placeholder="Поиск...">
                    <input type="submit" value="Найти">
                </form>
            </li>
            <li><a href="/profile/">Профиль</a></li>
        </ul>
    </nav>
</header>

<main>
    <!-- Секция с подробной информацией об игре -->
    <section class="game-details">
        <h2 class="game-details-heading">Подробное описание игры {{ game.title }}</h2>
        <div class="game-card">
            <img class="game-card-image" src="{{ game.image.url }}" alt="{{ game.title }}">
            <h1>{{ game.title }}</h1>
            <p><strong>Разработчик:</strong> {{ game.developer }}</p>
            <p><strong>Дата выхода:</strong> {{ game.release_date }}</p>
            <p><strong>Описание:</strong> {{ game.description }}</p>
            <p><strong>Средний рейтинг:</strong> {{ game.avg_score }}</p>
            <p><strong>Жанры:</strong>
                {% for genre in game.genres.all %}
                    {{ genre.name }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2024 Веб-сайт отзывов об играх. Все права защищены.</p>
</footer>

</body>
</html>
