{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подробная информация об игре</title>
    <!-- Подключение стилей CSS -->
    <link rel="stylesheet" href="{% static 'games/css/main.css'%}">
</head>
<body>

<header>
    <!-- Верхняя панель навигации -->
    <nav>
        <ul>
            <li><a href="/" class="home-btn">Главная</a></li>
            <li><a href="/rating/">Рейтинг</a></li>
            <li>
                <form action="/search/" method="get">
                    <input type="text" name="q" placeholder="Поиск...">
                    <input type="submit" value="Найти">
                </form>
            </li>
            <li><a href="/profile/">Профиль</a></li>
        </ul>
    </nav>
</header>

<main>
    <!-- Секция с подробной информацией об игре -->
    <section class="game-details">
        <h1>{{ game.title }}</h1>
        <img src="{{ game.image.url }}" alt="{{ game.title }}">
        <p>Рейтинг: {{ game.avg_score }}</p>
        <!-- Дополнительные поля с информацией об игре -->
    </section>
</main>

<footer>
    <p>&copy; 2024 Веб-сайт отзывов об играх. Все права защищены.</p>
</footer>

<script src="{% static 'games/js/scripts.js' %}"></script>
</body>
</html>
